name: Continuous Deployment

on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types: [completed]

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Install Elastic Beanstalk CLI
        run: |
          pip install --upgrade pip
          pip install awsebcli

      - name: Create EB environment if missing
        run: |
          if ! eb list | grep -q drug-classification-env; then
            echo "EB environment not found. Creating..."
            eb create drug-classification-env \
              --platform "Python 3.11" \
              --single \
              --timeout 30
          else
            echo "EB environment already exists."
          fi
          
      - name: Deploy to Elastic Beanstalk
        run: make eb-deploy